<header>
  <div class="logo">
    <a routerLinkActive="active" routerLink="home">
      <img
        src="../../../assets/Carl's Contracting Reviews  Logo.png"
        alt="Logo"
      />
    </a>
    <span>Review Source</span>
  </div>
  <div class="list">
    <ul class="list-items">
      <li><a routerLinkActive="active" routerLink="search">Search</a></li>
      <li>
        <a routerLinkActive="active" routerLink="home">Home</a>
      </li>
      <li><a routerLinkActive="active" routerLink="my-posts">My Posts</a></li>
      <!--<li>
        <a routerLinkActive="active" routerLink="notifications"
          >Notifications</a
        >
      </li>-->
      <li>
        <a routerLinkActive="active" routerLink="load-account">My Account</a>
      </li>
    </ul>
  </div>
  <div class="aicon">
    <a routerLinkActive="active" routerLink="login-user">
      <img src="../../../assets/account.png" alt="Accont Icon" />
    </a>
  </div>
</header>
