main {
  padding: 10px; /* used to format main tag on screen */
  margin-top: 20px;
  display: flex; /* next two lines to center content */
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  background: linear-gradient(#e2e2e2, dodgerblue);
  border: black solid 0.12rem;
  width: 80%;
}

h2 {
  display: flex;
  justify-content: center;
  font-size: 1.7rem;
}
.container {
  display: flex;
  justify-content: center;
}

.searchbox-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

input[type="text"] {
  height: 25px;
  width: 300px;
  border-radius: 5px;
  padding-left: 15px;
  padding-right: 15px;
  border: 1px solid gray;
}

input[type="text"]:focus {
  outline: none;
  border: 1px solid black;
}

input[type="text"]:hover {
  outline: none;
  border: 1px solid black;
}

.radio-grp {
  display: flex;
  align-items: center;
}

.radio-grp div {
  display: flex;
  justify-content: center;
  margin: 5px 0px 5px 15px;
}

.searchbox {
  display: flex;
  align-items: center;
}

#go-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  border: 1px solid gray;
  margin-left: 20px;
  height: 20px;
  width: 20px;
  padding: 5px;
  font-size: 13px;
  background: rgba(186, 215, 255, 0.8);
}

#go-btn:hover {
  cursor: pointer;
}

#posts {
  width: 70%;
  margin-bottom: 20px;
}
