.top5 {
  display: flex;
  font-size: 2rem;
  padding: 0.5rem;
  margin-right: 10%;
  width: 75%;
  min-height: 70vh;
  position: sticky;
  top: 12vh;
  color: lightblue;
  font-weight: bolder;
  -webkit-text-stroke: 1px black;
  background-color: white;
}
